<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.a2017718">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="信院影视库"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Movie_view"/>
        <activity  android:name=".PlayPlay" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".Login"/>
        <activity android:name=".Webview"/>
        <activity android:name=".Setting"/>
        <activity android:name=".Search"/>
        <activity android:name=".feedback"/>
        <activity android:name=".user"/>
        <activity android:name=".Game1"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.admin.a2017718"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>